@using ABCLearn.DataContext
@{
    ViewBag.title = "ABC Learn";
    var Students = Model;
    int numOfSutdent = StudentDAO.Instance.Students().Count;
    if(numOfSutdent%8==0){
        numOfSutdent = numOfSutdent / 8;
    }else{
        numOfSutdent = (numOfSutdent / 8) + 1;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_head")
</head>

<body>
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
            <a href="#" class="navbar-brand p-0 d-flex align-items-center">
                <img src="~/img/Logo-icon.png" class="fa-font-awesome-logo-full img-fluid" style="height: 200px;" alt="logo-ABCLearn">
                <h1 class="text-primary m-0">Dmin</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="@Url.Action("Student", "Admin", new{page = 0})" class="nav-item nav-link active">Student</a>
                    <a href="@Url.Action("Lecturer", "Admin", new{page = 0})" class="nav-item nav-link ">Lecturer</a>
                    <a href="@Url.Action("Course", "Admin", new{page = 0})" class="nav-item nav-link">Course</a>
                    <a href="@Url.Action("Calendar", "Admin")" class="nav-item nav-link">Calendar</a>
                    <a href="#" class="nav-item nav-link">Notification</a>

                </div>
                <a href="@Url.Action("LogOut","Admin")" class="btn btn-primary rounded-pill py-2 px-4">Join now</a>
            </div>
        </nav>
    </div>
    <!-- tab search dictionary -->
    <div class="container-fluid bg-primary hero-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white"</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center" >Student Table</h2>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Number Of course</th>
                    <th>Date Create</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Students)
                {
                    <form action="@Url.Action("StudentAction","Admin")" method="post">
                    <tr>
                        <td>@student.Id<input type="hidden" name="idStudent" value="@student.Id" /></td>
                        <td>@student.FirstName</td>
                        <td>@student.LastName</td>
                        <td>@student.Courses.Count</td>
                        <td>@student.DateCreated.Date.ToString()</td>
                        <td>
                            <div class="d-flex row">
                                <button type="submit" name="btnStudentAdmin" class="col-6 btn btn-primary" value="View">View</button>
                                <button type="submit" name="btnStudentAdmin" class="col-6 btn btn-primary" value="Delete" style="color: red">Delete</button>
                            </div>
                        </td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>
        <div class="justify-content-center ">
            @for (int i = 0; i < numOfSutdent; i++)
            {
                <a href="@Url.Action("Student", "Admin", new{page = i, max = numOfSutdent})">@(i + 1)</a>
            }
        </div>
    </div>
</body>

</html>