<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="#" class="navbar-brand p-0 d-flex align-items-center">
            <img src="~/img/Logo-icon.png" class="fa-font-awesome-logo-full img-fluid" style="height: 200px;" alt="logo-ABCLearn">
            <h1 class="text-primary m-0">Dmin</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="@Url.Action("Student", "Admin")" class="nav-item nav-link ">Student</a>
                <a href="@Url.Action("Lecturer", "Admin")" class="nav-item nav-link ">Lecturer</a>
                <a href="@Url.Action("Course", "Admin")" class="nav-item nav-link">Course</a>
                <a href="@Url.Action("Calendar", "Admin")" class="nav-item nav-link">Calendar</a>
                <a href="#" class="nav-item nav-link">Notification</a>
            </div>
            <a href="@Url.Action("LogOut","Admin")" class="btn btn-primary rounded-pill py-2 px-4">Join out</a>
        </div>
    </nav>
</div>