@using ABCLearn.DataContext
@using ABCLearn.Services
@using ABCLearn.DataAccess;
@{
	ViewBag.title = "ABC Learn";
	var Courses = CourseDAO.Instance.Courses();
	var User = ViewBag.user;
	DateTime vietnamTime = CurrentDateTime.GetcurrentDateTime;
	TimeSpan currentTime = vietnamTime.TimeOfDay;
	List<Calendar> calendares = CalendarDAO.Instance.Calendars();
}
<!DOCTYPE html>
<html lang="en">

<head>
	@Html.Partial("_head")
</head>

<body>
	@Html.Partial("_spanner")
	@Html.Partial("_navStart")
	@if (ViewBag.Role != "Lecturer")
    {
        <a href="@Url.Action("Index", "Home")" class="nav-item nav-link ">Home</a>
        <a href="@Url.Action("About", "Home")" class="nav-item nav-link">About US</a>
		<a href="@Url.Action("Contact", "Home")" class="nav-item nav-link">Contact</a>
    }
	<a href="@Url.Action("Course", "Home")" class="nav-item nav-link">Course</a>
	@Html.Partial("_navEnd")
	<!-- tab search dictionary -->
	<div class="container-fluid bg-primary mb-5 hero-header">
		<div class="container py-1">
			<div class="row justify-content-center" style="margin-top: 100px">
				<div class="col-lg-10 text-center">
					<h1 class="display-3 text-white animated slideInDown">Calendar Of Course</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- Calendar Start -->
	<div class="container">
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th>Course</th>
					<th>Lecturer</th>
					<th>Time</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Calendar calendar in calendares)
				{
					var check = CourseDAO.Instance.Courses().First(x => x.Id == calendar.IDCourse).Status;
					if (check)
					{
						Course cor = CourseDAO.Instance.Courses().First(x => x.Id == calendar.IDCourse);
						var NameLecturer = cor.Lecturer.FirstName + " " + cor.Lecturer.LastName;
						<tr>
							<td><b>@calendar.NameCourse</b></td>
							<td>@NameLecturer</td>
							<td><b><i>@calendar.StartTime.ToString() - @calendar.EndTime.ToString()</i></b></td>
							@if (currentTime < calendar.EndTime && currentTime > calendar.StartTime)
							{
								<td><a href="@Url.Action("Index", "MeetingRoom", new {idCourse = calendar.IDCourse})" class="btn-primary px-5" style="border-radius:30px;">Join Now</a></td>
							}
							else if (currentTime < calendar.StartTime)
							{
								<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #2d8cdd;">Coming Soon</a></td>
							}
							else if (currentTime > calendar.EndTime)
							{
								<td class=""><a class="btn-primary px-5" style="border-radius:30px; background-color: #fc8282;">Class is over</a></td>
							}
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
	<!-- Calendar End -->
	@Html.Partial("_footer")
	@Html.Partial("_endScript")
	<script>
		console.log("@currentTime.ToString()");
	</script>
</body>

</html>